body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-image: linear-gradient(45deg, #430f59, #4990e1);
  overflow: hidden;
}

.carousel {
  width: 100%;
  perspective: 600px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-container {
  padding: 1%;
  position: absolute;
  width: 85%;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -50rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  border-radius: 5rem;
  transition: all 0.3s ease-out;
}

.card-content{
  transition: all 0.3s ease-out;
  width: 100%;
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  width: 7%;
}

.nav.left {
  bottom: 50%;
  left: 1%;
  outline: none;
}

.nav.right {
  bottom: 50%;
  right: 1%;
  outline: none;
}