.benefits{
  padding-top: 65px;
  width: 100%;
  position: relative;
  background-color: white;
}

.b_part{
  height: 30vh;
  width: 50%;
  display: inline-block;
  position: relative;
  padding: 0%;
}

.b_title{
  color: rgb(0,16,74);
  font-size: 35px;
}

.b_subtitle{
  font-size: 20px;
}