.facts{
  padding-top: 65px;
  height: 100vh; 
  width: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.facts_title{
  font-size: 80px;
  border-radius: 10px;
  padding: 0% 2%;
  position: relative;
  top: 0%;
  color: rgb(0,16,74);
}

.facts_subtitle{
  border-radius: 10px;
  font-size: 40px;
  font-family: "Quicksand", serif;
  position: relative;
  color: white;
}

.facts_cards_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.facts_card{
  margin: auto;
  height: 60%;
  width: 25%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts_icon{
  padding-top: 10%;
  width: 20%;
}

.facts_description{
  font-size: 300%;
  text-align: center;
  padding: 0 5%;
}