.hiw{
  background-color: rgb(0,16,74);
  color: white;
  padding: 65px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiw_title{
  text-align: center;
  font-size: 50px;
}

.hiw_subtitle{
  padding: 0 10%;
  font-size: 20px;
  text-align: justify;
}

.hiw_icon_container{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  
  width: 100%;
}

.hiw_info{
  display: flex;
  flex-direction: column;  
  align-items: center;

  width: 26%;
}

.hiw_arrow{
  width: 10%;
}

.hiw_icon{
  width: 40%;
}

.hiw_desc{
  color: white;
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 1200px){
  .hiw_title{
    font-size: 40px;
  }

  .hiw_subtitle{
    font-size: 15px;
  }

  .hiw_desc{
    font-size: 15px;
  }
}

@media screen and (max-width: 660px){
  .hiw_title{
    font-size: 30px;
  }

  .hiw_subtitle{
    font-size: 10px;
  }

  .hiw_desc{
    font-size: 10px;
  }
}