.howitworks{
  padding-top: 65px;
  height: 100vh; 
  width: 100%;
  position: relative;
  background-color: rgb(0,16,74);
  display: flex;
  flex-direction: row;
}

.part{
  width: 50%;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hiw_title_1{
  position: relative;
  color: white;
  font-size: 30px;
  text-align: right;
}

.hiw_subtitle_1{
  color: white;
  position: relative;
  font-size: 20px;
  text-align: right;
  width: 80%;
}

.hiw_icon_container{
  margin-top: 0;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}

.hiw_info{
  width: 100%;
  display: flex;
  flex-direction: row;  
  align-items: center;
  padding: 20px 0;
}

.hiw_icon{
  width: 20%;
}

.hiw_desc{
  width: 80%;
  color: white;
  font-size: 20px;
  text-align: right;
  padding-right: 5%;
}