.nav {
  width: 100%;
  height: 65px;
  z-index: 2;
  position: fixed;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  margin: 20px 0;

  display: flex;
}

.nav div.logo{
  margin-left: 20px;
}

.nav div.logo a img{
  height: 65px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.nav div.main_list {
  margin-left: auto;
  margin-right: 20px;
  height: 65px;
}

.nav div.main_list ul {
  height: 65px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;  
  display: flex;
  align-items: center;
}

.nav div.main_list ul li{
  padding: 10px 20px;
}

.nav div.main_list ul li a {
  font-size: 25px;
}

#contact{
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}

.nav div.main_list ul li a:hover, #contact:hover {
    color: #008ae6;
}

.affix {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.navTrigger {
  display: none;
}

/* Movile display */

@media screen and (max-width:782px) {
  .navTrigger {
      display: flex;
  }
  .nav div.main_list {
      margin-right: 0;
      display: none;
  }
  .nav div.show_list {
      display: block;
  }
  .nav div.main_list ul {
      flex-direction: column;
      align-items: center;
      padding-top: 65px;
      height: auto;
      background-color: rgb(255, 255, 255);
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;  
  right: 0;
  top: 7.5px;
  margin-right: 20px;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.navTrigger i {
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}