@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Righteous:400');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.myH2 {
  font-family: 'Asap', sans-serif;
	text-align: left;
	font-size: 4rem;
  font-weight: bold;
  font-size: 50px;
}

.myP {
  font-family: 'Asap', sans-serif;
	text-align: left;
	font-size: 40px;
}

.card-grid{
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.especial-card{
  list-style: none;
  position: relative;
}

.card1{
  background-color: aquamarine;
  border-radius: 100px;
}